
$colorWhite: #FFF;
$colorBlack: #202020;
$colorGrey: #4a4a4a;
$colorInput: #e9e9e9;
$colorPlaceholder: #cacaca;
$colorDate: #999;
$colorButton: #ff6e30;
$colorFocus: #bc572b;
$colorActive: #ce4307;

$fontRobotoRegular: normal 400 16px 'Roboto', sans-seif;
$fontRobotoBold: normal 700 16px 'Roboto', sans-seif;
$fontTTFirstRegular: normal 400 16px 'TT first neue', sans-seif;
$fontTTFirstBold: normal 700 24px 'TT first neue', sans-seif;

$breakpoint_desktop: 1290px;
$breakpoint_1100: 1100px;
$breakpoint_900: 900px;
$breakpoint_600: 600px;
