@import '_variables.scss';

body {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none;
}

h2 {
	font: normal 700 24px "TT first neue", sans-seif;
	line-height: 25px;
}

img {
	max-width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

a {
	text-decoration: none;
	color: $colorWhite;
}

button {
	border: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

// .hide {
// 	display: none;
// }

// .noscroll {
// 	overflow: hidden;
// }

.container {
	max-width: 1400px;
	padding-left: 55px;
	padding-right: 55px;
	margin-left: auto;
	margin-right: auto;
}

.hashtag {
	top: 7px;
	right: 7px;
	padding: 7px 15px;
	color: $colorWhite;
	background-color: $colorBlack;
	font: $fontRobotoRegular;
	font-size: 14px;
}

.button {
	padding: 15.5px 22px;
	background-color: $colorButton;
	color: $colorWhite;
	font: $fontRobotoBold;

	&:hover {
		background-color: $colorFocus;
	}

	&:focus {
		box-shadow: inset 0px 0px 0px 3px $colorActive;
	}

	&:active {
		background-color: $colorActive;
	}
}

.close-button {
	width: 20px;
	height: 20px;
	color: $colorInput;
	background-color: inherit;

	&:hover,
	&:focus {
		color: $colorButton;
	}

	&:active {
		color: $colorActive;
	}
}
